body {
	font:normal 11px tahoma, arial, helvetica, sans-serif;
	color:#262C5B;
	background-color:#ffffff;
	font-size:10px;
	
}

td {
	font:bold 12px arial, tahoma, helvetica, sans-serif;
}
.mtable {
background-color: #e5edff;
font:bold 12px arial, tahoma, helvetica, sans-serif;
page-break-after:always;
page-break-inside:avoid;


}
.calandar{
border-style:solid;
border-width:0px;
width:17px;
height:17px;
cursor:pointer;
background-color:#FFF2E6;
background-image:url(../images/icons/calendar.gif);
}

textarea{
border-style:solid;
border-width:1px;
color:#2B354F;

border-color:#458DDE;
background-color:#EEF1FD;

}
input{
border-style:solid;
border-width:1px;
color:#2B354F;

border-color:#458DDE;
background-color:#EEF1FD;

}

.inputNoColor{
border-style:solid;
border-width:1px;
color:#2B354F;

border-color: #D8D8D8;
background-color:#EEF1FD;

}
.i2{
border-style:solid;
border-width:0px;
width:20px;
height:20px;
cursor:pointer;
background-color:transparent;
background-image:url(../images/icons/2.png);

}
.ipdf{
border-style:solid;
border-width:0px;
width:36px;
height:40px;
cursor:pointer;

background-color:#000;
background-image:url(../images/icons/pdf.PNG);

}

.inotes{
border-style:solid;
border-width:0px;
width:50px;
height:51px;
cursor:pointer;
background-color:transparent;
background-image:url(../images/icons/notes.png);
}

.ireserve{
border-style:solid;
border-width:0px;
width:50px;
height:51px;
cursor:pointer;
background-color:transparent;
background-image:url(../images/icons/reserve.png);
}

.idetails{
border-style:solid;
border-width:0px;
width:50px;
height:51px;
cursor:pointer;
background-color:transparent; 
background-image:url(../images/icons/eye_card.png) ;
}
.ieye{
border-style:solid;
border-width:0px;
width:40px;
height:40px;
cursor:pointer;

background-color:#000;
background-image:url(../images/icons/eye.PNG);

}
.iextra{
border-style:solid;
border-width:0px;
width:50px;
height:49px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/extra.png);

}
.idiscount{
border-style:solid;
border-width:0px;
width:60px;
height:61px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/discount.png);

}

.iadditions {
border-style:solid;
border-width:0px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/icons2.png);

width:60px;
height:61px;

}

.irooming{
border-style:solid;
border-width:0px;
width:64px;
height:64px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/rooming.png);

}
.living_update{
border-style:solid;
border-width:0px;
width:70px;
height:35px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/living_update.png);

}
.irefresh{
border-style:solid;
border-width:0px;
width:45px;
height:45px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/refresh.gif);

}
.iCancelRes{
border-style:solid;
border-width:0px;
width:62px;
height:62px;
cursor:pointer;
background-color:transparent;
background-image:url(../images/icons/cancelR.png);

}
.iprint{
border-style:solid;
border-width:0px;
width:50px;
height:49px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/print.png);

}
.imoney{
border-style:solid;
border-width:0px;
width:64px;
height:64px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/dollar.png);

}
.icard_pass_recieve{
border-style:solid;
border-width:0px;
width:64px;
height:64px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/card_pass_recieve.gif);

}
.icard_security{
border-style:solid;
border-width:0px;
width:64px;
height:64px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/card_security.png);

}

.icard_fatora{
border-style:solid;
border-width:0px;
width:64px;
height:64px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/invoice_icon.png);

}

.icard_resv_data{
border-style:solid;
border-width:0px;
width:60px;
height:66px;
cursor:pointer;

background-color:#000;
background-image:url(../images/icons/res_data.gif);

}
.iconcat{
border-style:solid;
border-width:0px;
width:48px;
height:48px;
cursor:pointer;
border: 1px solid #000;
background-image:url(../images/icons/concat.png);

}
.ibutton{
border-style:solid;
border-width:0px;
width:20px;
height:22px;
cursor:pointer;
background-color:transparent;
background-image:url(../images/icons/house.gif);

}
.ibutton2{
border-style:solid;
border-width:0px;
width:29px;
height:22px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/trip.png) ;

}
.ibutton3{
border-style:solid;
border-width:0px;
width:20px;
height:20px;
cursor:pointer;

background-color::transparent;;
background-image:url(../images/icons/money.png);

}
.ibutton4{
border-style:solid;
border-width:0px;
width:50px;
height:30px;
cursor:pointer;

background-color:#A1D1ED;
background-image:url(../images/icons/trans.png);

}
.ibutton5{
border-style:solid;
border-width:0px;
width:20px;
height:13px;
cursor:pointer;

background-color:#A1D1ED;
background-image:url(../images/icons/printer.jpg);

}
.ibutton6{
border-style:solid;
border-width:0px;
width:20px;
height:22px;
cursor:pointer;

background-color:#A1D1ED;
background-image:url(../images/icons/passport.png);

}
.ibutton7{
border-style:solid;
border-width:0px;
width:22px;
height:22px;
cursor:pointer;

background-color:#A1D1ED;
background-image:url(../images/icons/gift.png);

}
.ibutton8{
border-style:solid;
border-width:0px;
width:30px;
height:31px;
cursor:pointer;

background-color:#A1D1ED;
background-image:url(../images/icons/pass.png);

}
.ibutton9{
border-style:solid;
border-width:0px;
width:33px;
height:21px;
cursor:pointer;

background-color:#A1D1ED;
background-image:url(../images/icons/service.jpg);

}

.ibutton10{
border-style:solid;
border-width:0px;
width:38px;
height:13px;
cursor:pointer;

background-color:#A1D1ED;
background-image:url(../images/icons/room.jpg);

}
.ibuttonextra{
border-style:solid;
border-width:0px;
width:25px;
height:25px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/apps.png);

}
.ibuttonprog_res{
border-style:solid;
border-width:0px;
width:25px;
height:25px;
cursor:pointer;

background-color:transparent;
background-image:url(../images/icons/icon-reservation.png);

}
.ibuttonprog_pass{
border-style:solid;
border-width:0px;
width:63px;
height:26px;
cursor:pointer;

background-color:#A1D1ED;
background-image:url(../images/icons/ticket.PNG);

}
.ibuttonHotelRes{
border-style:solid;
border-width:0px;
width:40px;
height:29px;
cursor:pointer;

background-color:#A1D1ED;
background-image:url(../images/icons/hotel.png);

}
.back
{
border-style:solid;
border-width:1px;
width:60px;
height:22px;
cursor:pointer;
background-image:url(../images/icons/back2.png);
}

.i22{

border-style:solid;
border-width:1px;
border-color:#657DCF;
width:20px;
height:22px;
cursor:pointer;


background-color: #FFFFFF;


}


.i22:hover{



border-style:solid;
border-width:1px;
border-color:#657DCF;
width:20px;
height:22px;
cursor:pointer;




background-color: #C8D0EE;


}

.i23{

border-width:0px;
background-color: transparent;
cursor:pointer;
width:17px;
height:17px;
background-image:url(../images/icons/b_drop.png);


}


.i23:hover{




border-width:0px;

background-color: #FFF2E6;
width:17px;
height:17px;
cursor:pointer;



background-image:url(../images/icons/b_drop.png);


}
select{
	border-style:solid;
	border-width:0px;
	/* [disabled]color:#2B354F; */
	border-color:#458DDE;
	background-color:#EEF1FD;

}

.tt1{
border:#A1D1ED;
border-style:solid;
background-color:#A1D1ED;


}

.tt3{
border: #2E8DC6;
border-style:solid;
border-width:1px;
background-color:#A1D1ED;


}

.tt2{
border: #FF0000;
font-weight:bold;
border-style:solid;
background:#FFF336;



}


.td1{




background-color:#F9F8FC;}

th {
font:normal 13px arial,tahoma , helvetica, sans-serif;
color:#206086;
text-align: center;
background-color:#e5e5e5;
font-weight: bold;
}
.con {
font:normal 11px tahoma, arial, helvetica, sans-serif;

	font-weight:bold;
	color:#FF0000;

}
.faild {
font:normal 11px tahoma, arial, helvetica, sans-serif;
	color:#FF0000;

}


.title1 {
color:#3366CC;
font-weight:bold;
}


.delbutton{
border-width:0px;
background-color:transparent;
cursor:pointer;
width:16px;
height:16px;
background-image:url(../images/icons/b_drop.png);
}
.editbutton{
border-width:0px;
background-color: transparent;
cursor:pointer;
width:16px;
height:16px;
background-image:url(../images/icons/b_edit.png);
}
.savebutton{
border-width:0px;
background-color: #A1D1ED;
cursor:pointer;
width:16px;
height:16px;
background-image:url(../images/icons/2.png);
}
td.header {
	background-color:#ddeeff;
	color:#000080;
	font:normal 11px tahoma, arial, helvetica, sans-serif;
}
td.inputform {
	background-color:#bdd1e5;
	font:normal 11px tahoma, arial, helvetica, sans-serif;
}

.resvupdate{
border-style:solid;
border-width:0px;
width:50px;
height:49px;
cursor:pointer;

background-color:#000;
background-image:url(../images/icons/update.gif);

}

.iclose_manual{
border-style:solid;
border-width:0px;
width:31px;
height:34px;
background-color:transparent;
background-image:url(../images/close_manually.png);
}

.iclose_auto{
border-style:solid;
border-width:0px;
width:31px;
height:34px;
background-color:transparent;
background-image:url(../images/close_auto.png);
}

.hr_style
{
	color: #0F9CF0;
	background-color: #0F9CF0;
	height: 1px;

}
.ul_class
{
	font-size:14px;
}
.ul_class ul
{
	color:#CC3333;
	font-size:11px;
}
.ul_class ul li
{
	background-image:url(../images/icons/prev.gif);
	background-repeat:no-repeat;
	background-position:right;
	padding-right:10px;
}
thead{display:table-header-group;}
tbody {display:table-row-group;}

/* image Cutter */

#cutter{
	position:absolute;
	width:80px;
	height:120px;
	opacity:0.4;
	background-color:#000;
}

#scan{
	display:none;
	position:relative;
	margin:0 auto;
}

.has_cut{
	position:absolute;
	opacity:0.7;
	background-color:#CF3;
	font-size:14px;
	text-align:center;
}



